body {
    padding-bottom: 50px;
}


.main-container{
display: flex;
flex-direction: row;
justify-content: center;
gap: 20px;
padding-top: 3%;
padding-bottom: 5%;
}

.pause{
    color: rgb(34, 160, 91);
    font-weight: 500;
    font-size: bold;
}